.component-fselect {
    display: inline-flex;
    flex: 1 0 auto;
  }
  

  
  .component-fselect button {
    border: 0;
    border-radius: 4px;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    font-size: 18px;
    flex: 1 0 auto;
    width: auto;
    margin-right: 4px;
    padding: 5px;
  }
  